In [2]:
a = 10
b = 20

In [3]:
a + b

30

In [4]:
a * b

200

In [5]:
a / b

0.5

In [6]:
def mysum(a,b):
    return a+b

In [7]:
mysum(10,20)

30

In [8]:
def mymult(a,b):
    return a * b

In [9]:
mymult(20,30)

600

In [10]:
mymult(30,40)

1200

In [11]:
res = mysum(30,20)

In [12]:
res

50

In [13]:
def mycal(a,b):
    mult = mymult(a,b)
    msum = mysum(a,b)
    return mult,msum

In [14]:
mymult, mysum = mycal(10,20)

In [15]:
mymult

200

In [16]:
mysum

30

In [17]:
def checkEvenNumber(num):
    if num % 2 == 0:
        return True
    else:
        return False

In [18]:
checkEvenNumber(22)

True

In [ ]:
Take two numbers
Check if first number is even
If first number is even, multiply them
Else product them
Return the result

In [20]:
def myMainCode(num1, num2):
    checkEven = checkEvenNumber(num1)
    
    if checkEven:
        res = mymult(num1, num2)
    else:
        res = mysum(num1, num2)
        
    return res

In [ ]:
Problem Statement :

Jack & Jill Game
Jack increments by 2
Jill decrements by 1

In [21]:
value = 0 

def jackFunc():
    global value
    value += 2
    
def jillFunc():
    global value
    value -= 1

In [22]:
i = 0
while i < 10:
    jackFunc()
    i += 1

In [23]:
value

20

In [24]:
value = 0 

def jackFunc(value):
    value += 2
    return value
    
def jillFunc(value):
    value -= 1
    return value

In [25]:
i = 0
while i < 10:
    value = jillFunc(value)
    i += 1

In [26]:
value

-10

In [ ]:
Problem Statement :

1. Write a function a takes a string
2. Check if the string contains a vowel ( a )
3. If it does, print it once 
4. Or, print the word two times

Solution :

1. Write a function to check if the word contains vowel
2. Use the output from above to print desired number of times

In [27]:
def checkIfWordConatins(word, checkalpha):
    for ch in word:
        if ch in checkalpha:
            return True
    return False

In [28]:
checkIfWordConatins('sst','xyz')

False

In [29]:
def printWordTimes(word,times):
    for t in range(times):
        print (word)

In [30]:
def myUtilityCode(word, checkalpha, times):
    check = checkIfWordConatins(word, checkalpha)
    if check:
        print (word)
    else:
        printWordTimes(word, times)

In [31]:
myUtilityCode('Hello','el',3)

Hello

In [32]:
myUtilityCode('Hello','xy',3)

Hello
Hello
Hello

In [ ]:
Default Params

In [33]:
def printMyDetails(name, age=18, location='Karnataka'):
    print (name,age,location)

In [34]:
printMyDetails('Edyoda',3,'Bangalore')

Edyoda 3 Bangalore

In [35]:
printMyDetails('Edyoda','abc')

Edyoda abc Karnataka

In [ ]:
Named Parameters

In [ ]:
def printMyDetails(name, age=18, location='Karnataka'):
    print (name,age)

In [36]:
printMyDetails(age=20, name='abcdef', location='Mumbai')

abcdef 20 Mumbai

In [ ]:
Variable Arguments

In [ ]:
*packing

In [37]:
def mySum(*args):
    res = 0
    for e in args:
        res += e
    return res

In [38]:
def mySum(*args):
    return sum(args)

In [39]:
mySum(10,20)

30

In [40]:
mySum(10,20,30)

60

In [ ]:
* Unpacking

In [43]:
l = ['blore','edyoda',10]

In [44]:
def printDetails(loc, name, age):
    print (loc, name, age)

In [45]:
printDetails(*l)

blore edyoda 10

In [ ]:
Named Packing

In [46]:
def myFunc(name, loc, age):
    if name == 'abc':
        print (name)
    else:
        print (loc,age)

In [47]:
myFunc(loc='mumbai',age=10,name='abc')

abc

In [48]:
def myFunc(**kwargs):
    if kwargs['name'] == 'abc':
        print (kwargs['name'])
    else:
        print (kwargs['loc'], kwargs['age'])
    
    if 'name' in kwargs:
        print (kwargs['name'])

In [49]:
myFunc(loc='mumbai',age=10,name='bcd')

mumbai 10
bcd

In [50]:
myFunc(location='mumbai',age=10,name='abc')

abc
abc

In [ ]:
Problem :

* mySumFunc(10,20,11,21,23)
* mySumFunc(10,20,11,21,23,445,2323)
* Multiply all the even numbers

In [51]:
def myMultFunc(*nums):
    res = 1
    for num in nums:
        if num %2 == 0:
            res *= num
    return res

In [52]:
myMultFunc(10,20,22,23)

4400