In [1]:
l = [10,20,30,40,50]
l2 = [value * value for value in l]
print(l2)

[100, 400, 900, 1600, 2500]

In [9]:
l = ["abc","xyzw","jithu","k"]
l2 = []
for value in l:
    l2.append(len(value))
print(l2)

[3, 4, 5, 1]

In [10]:
l = ["abc","xyzw","jithu","k"]
l2 = [len(value) for value in l]
print(l2)

[3, 4, 5, 1]

In [11]:
l = ["abc","xyzw","jithu","kk"]
l2 = [value[0]+value[-1] for value in l]
print(l2)

['ac', 'xw', 'ju', 'kk']

In [13]:
l = [97,111,116,112,109]
l2 = [chr(value) for value in l]
print(l2)

['a', 'o', 't', 'p', 'm']

In [ ]:
5 random no (10,100)

In [16]:
import random
print(random.randint(10,100))

75

In [18]:
import random
print(random.randint(10,100))         #if u want 5 random nu then
l2 = [random.randint(10,100) for value in range(5)]
print(l2)

71
[85, 39, 58, 31, 87]

In [19]:
l1 = [10,20,30]
l2 = [100,200,300]
l3 = [1000,2000,3000]
#zip(l1,l2,l3)
#l4 = [(10,100,1000),(20,200,2000),(30,300,3000)] this must be the output
l4 = [value for value in zip(l1,l2,l3)]
print(l4)

[(10, 100, 1000), (20, 200, 2000), (30, 300, 3000)]

In [23]:
import timeit
t = timeit.timeit(stmt = """
l2 = []
for value in range(1,10000000):
      l2.append(value ** 2)
""",number = 1)
print(t)

9.5388267000003

In [25]:
t = timeit.timeit(stmt = """
l2 = [value ** 2 for value in range (1,1000000)]
""",number = 1)
print(t)

0.8483430999999655

In [26]:
l = [11,10,22,20,33,30]
l2 = [value for value in l if value % 2 == 0]
print (l2)

[10, 22, 20, 30]

In [27]:
l = ["abc","xyzw","jithu","k"]
l2 = [len(value) for value in l if len(value) > 3]
print(l2)

[4, 5]

In [28]:
l = [97,111,116,112,109]
l2 = [chr(value) for value in l if ord("a") <= value <= ord("z")]
print(l2)

['a', 'o', 't', 'p', 'm']

In [29]:
l = [97,111,116,112,109]
l2 = [chr(value) if ord("a") <= value <= ord("z") else chr(value - 26)for value in l]
print(l2)

['a', 'o', 't', 'p', 'm']

In [30]:
l = [(value1,value2) for value1 in range(5) for value2 in range(100,105)]
print(l)

[(0, 100), (0, 101), (0, 102), (0, 103), (0, 104), (1, 100), (1, 101), (1, 102), (1, 103), (1, 104), (2, 100), (2, 101), (2, 102), (2, 103), (2, 104), (3, 100), (3, 101), (3, 102), (3, 103), (3, 104), (4, 100), (4, 101), (4, 102), (4, 103), (4, 104)]

In [31]:
l = [[1,2,3],[4,5,6],[7,8,9]]
#l2 =[1,2,3,4,5,6,7,8,9]
l2 = [value2 for value1 in l for value2 in value1]
print(l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
l = [[1,2,3],[4,5,6],[7,8,9]]
#l2 = [[1,4,7],[2,5,8,[3,6,9]]]
l2 = [[value[1] for value in l]]
print(l2)

[[2, 5, 8]]

In [3]:
l = [[1,2,3],[4,5,6],[7,8,9]]
#l2 = [[1,4,7],[2,5,8,[3,6,9]]]
l2 = [[value[index] for value in l] for index in range(len(l[0]))]
print(l2)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
dict:
    {"key":"value"}
    mutable
    unordered
    
    Add:
        d[key] = value
        d.setdefault(key,value)
        
    Update:
        d[key] = value
        
    Delete:
        pop 
        clear
        del
        popitem

In [4]:
d2 = {key:key ** 2 for key in range (1,11)}
print(d2)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [5]:
d = {chr(value):value for value in range (ord("a"),ord("z")+1)}
print(d)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

In [6]:
l = [10,20,30,33,40,55,56,78,78]
l2 = {value %5for value in l}
print(l2)

{0, 1, 3}