In [1]:
num1 = 1 
print(num1)

1

In [2]:
num1 ="jithu"
print(num1)

jithu

In [2]:
name = "jithu"
print(name)

jithu

In [ ]:
Datatypes :
    1. int 10 20 30
    2. float 10.235 27.367
    3. str 'hi' "python" """wleocme to python""" : It is the collection of Characters
    4. list [10,20,30,40][10,20,30,"python","java"[10,20,3,3,0]] : collection of elements , str or integers
    5. tuple (10,20,30,40,"python","java") : collection of elements and elements can be anything
    6. dict {"email":"gagangowdru8506@gmail.com","contact":"1234567890","age":"76"} : collection of key and value
    7. set {10,20,30,40} : collection of elements
    8. bool True False
    None

In [ ]:
PEP 8 => guidelines about how ur python code should look (python extension proposal)

In [ ]:
Python allows only one special character i.e, _(under_score)

In [ ]:
* Always give a meaningful variable names
1. underscore first_name
2. for variable name it should be with lower_case alphabet
3. for constant all CAPS
4. digits are allowed but not at the start , only special character allowed is _

In [ ]:
Memory Loaction :
    1. Immutable : at same memory lopcation I can not change the value
    2. Mutable : I can change the value at same memory location

In [ ]:
Mutable : Add , Update and Delete operations
Immutable : Can not perform add , update and delete

In [ ]:
Immutable :
    int
    float
    str
    tuple
    
Mutable : (Add,Update and Delete)
    list
    dict
    set

In [ ]:
Operators :
    1. Arthmetic Operators :
        + => Addition
        - => Substraction
        * => Multiplication
        / => true division (because it gives true value with decimals)
        // => floor division (it gives values without decimals)
        % => Modules (gives remainder)
        ** => powers
    2. Comparision Operators : It always gives us the answer is True or False
        == , < , > , <= , >= , !=
    3. Membership Operators : in not in (This is only used in Iterable and cant be used in not Iterable) 
        incase of dictionary in/not in will only check with keys , will not check with the values
    4.Identity Operator : is is not
    5.Assignment Operator : = , += , -= , *=  , /=
    6.Logical Operator : and or not

In [1]:
print(10 / 3)
print(10 // 3)
print(10 % 3)
print(10 * 3)
print(10 + 3)
print(10 - 3)
print(10 ** 3)

3.3333333333333335
3
1
30
13
7
1000

In [2]:
s1 = "Python"
s2 = "python"
print(s1 == s2)
s1 = 10
s2 = 5
print(s1 > s2)
print(s1 < s2)
print(s1 >= s2)
print(s1 <= s2)

False
True
False
True
False

In [ ]:
Not Iterable :
    int , float
Iterable : Means collection values
    str , tuple , list , dict , set

In [ ]:
== => values
is => memory allocation

In [ ]:
True/False :
    Comparsion
    Membership
    Logical
    Identity

In [ ]:
immutable : cant change the value with different memory location
    int
    float
    tuple
mutable :
    list dict set

In [ ]:
Iterable :
    str list dict set tuple
not iterable :
    int float

In [ ]:
in operator not work with int , float and works with dict only in terms of keys not values

In [4]:
float = 2.02222224
print(float)

2.02222224

In [5]:
list = [1,2,3,4,5,6,7,8,9,10]
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
dict = {"name":"jithesh","e mail":"jitheshjnr1997@gmail.com","contact":"8970974185","age":"57","address":"bgh"}
print(dict)

{'name': 'jithesh', 'e mail': 'jitheshjnr1997@gmail.com', 'contact': '8970974185', 'age': '57', 'address': 'bgh'}

In [7]:
dict = {"name":"jithesh","e mali":"jnr@gmail.com","contact":8970974185,"age":57,"address":"bgh"}
print(dict)

{'name': 'jithesh', 'e mali': 'jnr@gmail.com', 'contact': 8970974185, 'age': 57, 'address': 'bgh'}

In [14]:
name = hello_world
print(name)

NameError: name 'hello_world' is not defined

In [16]:
name = "hello_world"
print(name)

hello_world

In [17]:
set = {12,13,14,15}
print(set)

{12, 13, 14, 15}

In [18]:
tuple = (1,2,3,4)
print(tuple)

(1, 2, 3, 4)

In [20]:
tuple = ("jithesh","gagan","ram")
print(tuple)

('jithesh', 'gagan', 'ram')

In [21]:
bool = [10,20,30]
print(20 in bool)

True

In [22]:
bool = [10,20,30]
print(50 in bool)

False

In [ ]:
                            #finding the type of the data#

In [23]:
s = 12
print(type(s))

<class 'int'>

In [24]:
s = "jithu"
print(type(s))

<class 'str'>

In [25]:
list = [12,32]
print(type(set))

<class 'list'>

In [27]:
dict = {"contact":"8970974185"}
print(type(dict))

<class 'dict'>

In [28]:
tuple = (1,2,3)
print(type(tuple))

<class 'tuple'>

In [30]:
s = {1,2,3}
print(type(s))

<class 'set'>

In [31]:
f = 2.34
print(type(f))

<class 'float'>

In [35]:
b = [10,20,30]
print(10 in b)
print(type(b))

True
<class 'list'>

In [ ]:
                #data ID#

In [4]:
num1 = 300
num2 = 400  
num3 = num1 + num2
print(num3)
print(id(num3))

700
2119389774416

In [ ]:
               #artmamatic operation#

In [1]:
num1 = 300
num2 = 400  
num3 = num1 + num2
print(num3)

700

In [2]:
num1 = 200
num2 = 200
num3 = num1 * num2 
print(num3)

40000

In [3]:
num1 = 20
num2 = 40
num3 = num1 - num2
print(num3)

-20

In [4]:
num1 = 30
num2 = 50 
num3 = num1 / num2
print(num3)

0.6

In [13]:
num1 = 20
num2 = 20
num3 = num1 % num2
print(num3)

0

In [14]:
num1 = 2
num2 = 7
num3 = num1 ** num2
print(num3)

128

In [7]:
num1 = 10
print(num1 ** 10)

10000000000